<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/Chart.js}"></script>
<body>
<div class="container-fluid" id="LG">
    <div class="row-fluid">
        <div class="span12">
            <h3>
                h3. 这是一套可视化布局系统.
            </h3>
            <div th:include="header :: html"></div>
            <h1>当前在线人数<span th:text="${size}"/></h1>
            <ul th:each="ol : ${online}">
                <li th:text="${ol}"></li>
            </ul>
        </div>
        <canvas id="canvas" height="300" width="950"></canvas>
    </div>

</div>
</body>
<script>
    var config = {
        type: "line",
        data : {
            labels : ["Mongodb","jquery","Laravel","bootstrap","vue.js","Html5","CSS3","php","Linux","MySQL"],
            datasets : [
                {
                    label: "一",
                    backgroundColor : "rgb(255, 99, 132)",
                    borderColor : "rgb(255, 99, 132)",
                    fill: false,
                    data : [65,59,90,81,56,55,140,29,15,25]
                },
                {
                    backgroundColor : "rgb(54, 162, 235)",
                    borderColor : "rgb(54, 162, 235)",
                    fill : false,
                    data : [28,48,40,19,96,127,100,36,52,34]
                }
            ]

        },
        options : {
            responsive: true,
            title: {
                display: true,
                text: 'Chart.js Line Chart - Logarithmic'
            },
            scales: {
                xAxes: [{
                    display: true,
                }],
                yAxes: [{
                    display: true,
//                    type: 'logarithmic',
                }]
            }
    }
    }

    var chart = document.getElementById("canvas").getContext("2d");
    var myLine = new Chart(chart, config);
</script>
</html>