<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/extendPagination.js}"></script>
<body>
<div class="container-fluid" id="LG">
    <div class="row-fluid">
        <div class="span12">
            <div th:include="header :: html"></div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    用户名
                        <input type="text" style="height:31px; width:150px" id="user" name="user" placeholder="输入用户名">

                    <input type="radio"  name="sort" value="1" placeholder=""  checked>倒序
                    <input type="radio"  name="sort" value="0" placeholder="">顺序
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="button" onclick="findList()" class="btn btn-default">查询</button>
                </div>
            </form>
            <div id="callBackPagination" class="piece">
                <div id="mainContent"></div>
                <div id="callBackPager"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var isOK = false;
    $(document).ready(function () {
        findList()
    })
    function findList() {
        var totalCount = Number($('#totalCount1').val()) || 1 , showCount = $('#showCount1').val(),

            limit = Number($('#limit').val()) || 15;
        var name = $("#user").val() || "";
//        var sort = $("#sort").val() || "";
        var sort = $("input[name='sort']:checked").val();
        createTable(1, limit, totalCount);


        function createTable(currPage, limit, total) {
            $.ajax({
                       type: "get",
                       url: url+"/logInfo",
                       dataType: "json",
                       data: {
                           "name": name,
                           "currentPage": currPage,
                           "pageSize": limit,
                           "sort": sort
                       },
                       success: function (data) {

                           if (data) {
                               var html = [], showNum = limit;
                               totalCount = data.total;
                               isOK = true;
                               total = data.total;
                               if (total - (currPage * limit) < 0) showNum = total - ((currPage - 1) * limit);

                               html.push(' <table class="table table-hover table-striped">');

                               html.push(' <caption>总记录(' + total + ')</caption>');

                               html.push(' <thead><tr><th>账号</th><th>类型</th><th>时间</th><th>地理位置</th><th>系统信息</th></tr></thead><tbody>');

                               for (var i = 1; i <= showNum; i++) {
                                   var name = data.list[i-1].userName
                                   var ty = data.list[i-1].type
                                   var type = "";
                                   var cs = "success";
                                   if (ty == 1) {type = "登录"}
                                   if (ty == 0) {type = "注销"; cs = "danger"}


                                   html.push('<tr class='+cs+'><td>'+name+'</td>');
                                   html.push('<td>'+type+'</td>');
                                   html.push('<td>'+timestampToTime(data.list[i-1].time)+'</td>');
                                   html.push('<td>'+data.list[i-1].address+'</td>');
                                   html.push('<td>'+data.list[i-1].system+'</td>');
//                                   html.push('<td><button type="button" class="btn btn-info" data-toggle="modal" onclick="showInfo('+JSON.stringify(data.list[i-1]).replace(/"/g, '&quot;')+')">查看</button></td>');
                                   html.push('</tr>');

                               }

                               html.push('</tbody></table>');

                               var mainObj = $('#mainContent');

                               mainObj.empty();

                               mainObj.html(html.join(''));

                           }
                       }
                   })

        }
        var interval = setInterval(function(){

            if(isOK == true){
                $('#callBackPager').extendPagination({

                                                         totalCount: totalCount,

                                                         showCount: showCount,

                                                         limit: limit,

                                                         callback: function (curr, limit, totalCount) {

                                                             createTable(curr, limit, totalCount);

                                                         }

                                                     });
                clearInterval(interval)
            }
        }, 500);
    }

    function timestampToTime(timestamp) {
        var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D+h+m+s;
    }
</script>
</html>