<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/extendPagination.js}"></script>
<body>
<div class="container-fluid" id="LG">
    <div class="row-fluid">
        <div class="span12">
            <h3>
                h3. 这是一套可视化布局系统.
            </h3>
            <div th:include="header :: html"></div>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        账号
                    </th>
                    <th>
                        在线时长
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="li : ${list}" >
                    <td th:text="${li.name}"></td>
                    <td th:text="${li.time/(1000*60*60)}+'小时'+${li.time%(1000*60*60)/(1000*60)}+'分钟'+${li.time%(1000*60*60)%(1000*60)/1000}+'秒'"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>